In [21]:
import numpy as np 
import pandas as pd 
df=pd.read_csv("test1.csv")
df.head()
#df.shape
df['Category'].value_counts()

1    8
2    6
Name: Category, dtype: int64

## basics of NLP

In [26]:
import nltk 
nltk.download('punkt')
from nltk import word_tokenize 
data="hello, how are you."
print(word_tokenize(data))

['hello', ',', 'how', 'are', 'you', '.']

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\niran\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [28]:
#stopwords are connectors
from nltk.corpus import stopwords
nltk.download('stopwords')
sw=set(stopwords.words('english'))
print(sw)

{'its', 'against', 'other', "hasn't", "couldn't", 'has', 'isn', 'won', 'herself', 'it', 'wasn', 'on', 'below', 'our', "needn't", "should've", 'hadn', 'mightn', 'how', 'under', 'ain', "weren't", 'over', "didn't", 'am', 'haven', 'yourselves', 'with', 'there', 'having', 'but', 'only', 'during', "don't", 'yours', "haven't", 'when', 'all', 'for', 'being', 'in', 're', 'or', 'who', 'after', 'from', 'd', "won't", 'y', "she's", 'themselves', "shouldn't", 'been', 'if', 's', 'doing', 'very', 'him', 'yourself', 'shan', 'weren', 'because', 'at', "isn't", 'and', 'ours', 'why', 'do', "you'll", 'then', 'which', 'off', "aren't", 'about', 'further', 'theirs', 'didn', "mustn't", 'their', 'to', 'this', 'into', 't', 'couldn', 'his', "mightn't", 'above', 'we', 'more', 'himself', "you're", "wouldn't", 'needn', 'wouldn', 'no', 'up', 'a', 'o', 'she', 'that', "that'll", 'down', 'itself', 'll', 'an', 'have', 'your', 'few', 'should', 'ourselves', 'too', 'was', 'are', 'through', 'now', "you've", 'whom', 'myself', "hadn't", "shan't", 'them', 'hasn', 'some', 'were', 'out', 'again', 'they', 'these', 'just', 'hers', 'you', "you'd", 'such', 'until', 'aren', 'her', 'not', "doesn't", 'my', 'don', 'once', 'those', 'will', 'before', 'had', 'the', 'i', 'be', 'most', 'as', "it's", 'between', 'did', 'by', 'each', 'is', 'doesn', 'shouldn', 'm', 'any', 'than', 'he', 'ma', 'here', 'both', 'of', 'own', 'same', 'me', 'where', 'so', 'can', 'mustn', 'while', 'what', 'nor', 've', "wasn't", 'does'}

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\niran\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [33]:
#data filtering - delete punctuations 
import string 
data="hello , guy's how are you?"
data1=[char for char in data if char not in string.punctuation]
print(data1)
data2=''.join(data1)
print(data2)
data3=data2.split()
print(data3)

['h', 'e', 'l', 'l', 'o', ' ', ' ', 'g', 'u', 'y', 's', ' ', 'h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']
hello  guys how are you
['hello', 'guys', 'how', 'are', 'you']

In [35]:
#converting to words
from sklearn.feature_extraction.text import CountVectorizer
data1=["hello guys hello can you hear me ."]
vect=CountVectorizer() 
vect.fit(data1)
print(vect.vocabulary_)
vector=vect.transform(data1)
print(vector)

{'hello': 3, 'guys': 1, 'can': 0, 'you': 5, 'hear': 2, 'me': 4}
  (0, 0)	1
  (0, 1)	1
  (0, 2)	1
  (0, 3)	2
  (0, 4)	1
  (0, 5)	1

In [36]:
def text_cleaning(a): 
    remove_punctuation=[char for char in a if char not in string.punctuation]
    remove_punctuation=''.join(remove_punctuation)
    return[word for word in remove_punctuation.split() if word.lower() not in stopwords.words("english")]

In [37]:
df.head()

                       Title  Category
0  Hello my name is Niranjan         1
1         Hello my name is A         1
2            I am from Jalna         2
3           I am from Mumbai         2
4         Hello my name is B         1

In [38]:
print(df.iloc[:,0].apply(text_cleaning))

0     [Hello, name, Niranjan]
1               [Hello, name]
2                     [Jalna]
3                    [Mumbai]
4            [Hello, name, B]
5            [Hello, name, C]
6               [Hello, name]
7        [belong, Aurangabad]
8            [belong, Nanded]
9        [hometown, Parbhani]
10         [hometown, Nashik]
11                        [E]
12                        [F]
13                        [G]
Name: Title, dtype: object

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
bow_transformer=CountVectorizer(analyzer=text_cleaning).fit(df['Title'])
bow_transformer.vocabulary_

{'Hello': 6,
 'name': 15,
 'Niranjan': 11,
 'Jalna': 7,
 'Mumbai': 8,
 'B': 1,
 'C': 2,
 'belong': 13,
 'Aurangabad': 0,
 'Nanded': 9,
 'hometown': 14,
 'Parbhani': 12,
 'Nashik': 10,
 'E': 3,
 'F': 4,
 'G': 5}

  (0, 6)	1
  (0, 11)	1
  (0, 15)	1
  (1, 6)	1
  (1, 15)	1
  (2, 7)	1
  (3, 8)	1
  (4, 1)	1
  (4, 6)	1
  (4, 15)	1
  (5, 2)	1
  (5, 6)	1
  (5, 15)	1
  (6, 6)	1
  (6, 15)	1
  (7, 0)	1
  (7, 13)	1
  (8, 9)	1
  (8, 13)	1
  (9, 12)	1
  (9, 14)	1
  (10, 10)	1
  (10, 14)	1
  (11, 3)	1
  (12, 4)	1
  (13, 5)	1

In [43]:
#find most important word for classification 
from sklearn.feature_extraction.text import TfidfTransformer 
tfid=TfidfTransformer().fit(title_bow)
print(tfid)
tfid1=tfid.transform(title_bow)
print(tfid1)
print(tfid1.shape)

TfidfTransformer()
  (0, 15)	0.47270480258745007
  (0, 11)	0.7437071595873741
  (0, 6)	0.47270480258745007
  (1, 15)	0.7071067811865476
  (1, 6)	0.7071067811865476
  (2, 7)	1.0
  (3, 8)	1.0
  (4, 15)	0.47270480258745007
  (4, 6)	0.47270480258745007
  (4, 1)	0.7437071595873741
  (5, 15)	0.47270480258745007
  (5, 6)	0.47270480258745007
  (5, 2)	0.7437071595873741
  (6, 15)	0.7071067811865476
  (6, 6)	0.7071067811865476
  (7, 13)	0.6544322710113175
  (7, 0)	0.7561206270556105
  (8, 13)	0.6544322710113175
  (8, 9)	0.7561206270556105
  (9, 14)	0.6544322710113175
  (9, 12)	0.7561206270556105
  (10, 14)	0.6544322710113175
  (10, 10)	0.7561206270556105
  (11, 3)	1.0
  (12, 4)	1.0
  (13, 5)	1.0
(14, 16)

In [44]:
from sklearn.naive_bayes import MultinomialNB
model=MultinomialNB().fit(tfid1,df['Category'])

In [46]:
all_predictions=model.predict(tfid1)
print(all_predictions)

[1 1 2 2 1 1 1 2 2 2 2 1 1 1]

In [47]:
from sklearn.metrics import confusion_matrix
confusion_matrix(df['Category'],all_predictions)

array([[8, 0],
       [0, 6]], dtype=int64)